<!DOCTYPE html>

<html>

<head>
	<title>URL Shortener Microservice</title>
	<link href="https://fonts.googleapis.com/css?family=Urbanist:wght@300&display=swap" rel="stylesheet"
		type="text/css">
	<link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<h1 class="center">URL Shortener Microservice</h1>
		<main>
			<section>
				<form action="api/shorturl" method="POST">
					<fieldset>
						<legend>URL Shortener</legend>
						<label for="url_input">URL:</label>
						<input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
						<input type="submit" value="POST URL" />
					</fieldset>
				</form>
			</section>
		</main>
	</div>
</body>

</html>